.user-dashboard{

    width:90%;
    margin:auto;
    padding:30px 0;

}

.dashboard-title{

    font-weight:bold !important;

}

.dashboard-subtitle{

    color:gray;
    margin-bottom:30px !important;

}

.issue-card{

    padding:20px;
    margin-bottom:20px;

}

.description{

    margin-top:10px !important;
    color:#666;

}

.chip-container{

    display:flex;
    gap:10px;
    margin-top:15px;
    margin-bottom:15px;

}

.assigned-by{

    margin-top:10px !important;

}

.loader{

    display:flex;
    justify-content:center;
    margin-top:100px;

}

.empty-card{

    padding:40px;
    text-align:center;

}